<div class="content">
    <div class="button-sidebar">
        <div class="options-button pointer" (click)="showPopup($event.target)">
            <i title="Options">i</i>
        </div>
        <div class="recipe-info">
            <div class="recipe-title">
                Recept: &nbsp;
            </div>
            <div class="recipe-name" *ngIf="breadService.breadRecipes.length > 0">
                {{getActiveRecipeName()}}
            </div>
        </div>
    </div>
    <div class="bread-amount-input">
        <div>
            <input placeholder="Hoeveel broodjes wil je? =)" id="bread-amount-input"
                (change)="updateBroodjesAmount($event.target.value)" (keypress)="shrinkInput($event)">
        </div>
    </div>
    <div class="broodjes-container">
        <ng-container *ngFor="let broodje of broodjes">
            <div class="broodje-item" [ngClass]="(broodjes.length % 2 != 0) ? 'uneven' : 'even'">
                <div>
                    <input class="broodjes-inputs" placeholder="{{ broodje.name }}" id="weight-input{{broodje.name}}"
                        (change)="updateBroodjeWeight($event.target.value, broodje.name)">
                </div>
            </div>
        </ng-container>
    </div>

    <div class="footer" *ngIf="ingredients.length > 0">
        <div class="total-weight" *ngIf="broodjes.length > 0">
            Totaalgewicht: {{ totalBroodjesWeight }}
        </div>
        <div class="recipe-table" *ngFor="let ingredient of ingredients">
            <div class="ingredient">
                {{ ingredient.name }}
            </div>
            <div class="amount">
                {{ ingredient.amount }}
            </div>
        </div>
    </div>
</div>

<popup [popupName]="popupName">
    <div class="calcubread-popup content">
        <div class="title">
            <h2>Kies een recept of voeg er een toe:</h2>
        </div>
        <div class="select-recipe-container">
            <div class="select-recipe-title">
                Recept:
            </div>
            <div class="select-recipe">
                <select [(ngModel)]="breadService.activeRecipeIndex" (change)="setRecipe()">
                    <option value=0>Pain de Campagne</option>
                    <option value=1>Papa Secos</option>
                </select>
            </div>
        </div>
        <div class="add-recipe-container">
            <div class="add-recipe-title">
                Maak een nieuw recept:
            </div>
            <div class="add-recipe">
                ... Under Construction ...
            </div>
        </div>
    </div>
</popup>