<div class="content" [ngClass]="activeBlock == blockName ? 'active' : 'inactive'">

    <div class="title">
        <h2>{{moduleName}}</h2>
    </div>

    <div class="container">


        <ng-container [ngSwitch]="moduleName">
            <chores     *ngSwitchCase="'chores'"     clickOutside (activeBlock)="setActiveBlock($event)" [activeBlock]="activeBlock" [blockName]="blockName"></chores>
            <calcubread *ngSwitchCase="'calcubread'" clickOutside (activeBlock)="setActiveBlock($event)" [activeBlock]="activeBlock" [blockName]="blockName"></calcubread>   
            <todo       *ngSwitchCase="'todo'"       clickOutside (activeBlock)="setActiveBlock($event)" [activeBlock]="activeBlock" [blockName]="blockName"></todo>   
        </ng-container>
        
    </div>
    
</div>