<div class="content">
    <div class="buttons-bar">
        <div class="add-item pointer" (click)="showPopup($event.target)">
            <i class="fa fa-plus"></i>
        </div>
    </div>
    <div class="chores-list">

        <ng-container *ngFor="let item of choresService.choresList; let listIndex = index">
            <ng-container *ngIf="!item.complete">

                <div class="chores-item list-item" title={{item.name}}>
                    <div [ngClass]="item.colorClass" class="complete-item pointer" title="Voltooien" (click)="choresService.completeChore(item.id)">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    
                    <div class="item-input">
                        <input
                        disabled 
                        [(ngModel)]="item.name"
                        type="text"
                        (change)="choresService.updateChoresItem($event.target.value, 'name', listIndex)"
                        [ngClass]="item.colorClass">
                    </div>

                    <div class="recurrence" title="{{getRecurrenceString(item.recurrenceInterval, item.recurrenceAmount)}}">
                        {{ getDaysRemainingString(item.daysRemaining) }}
                    </div>

                    <div class="edit-icon pointer" title="Taak bewerken" (click)="showPopup($event.target, listIndex)">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </div>

                    <div class="remove-icon pointer" title="Taak verwijderen" (click)="choresService.removeChoresItem(item.id, listIndex)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </div>     

            </ng-container>
        </ng-container>
    </div>
</div>

<popup [popupName]="popupName">
    <div class="chores-popup content">
        <div class="title">
            <h2>Voeg een taak toe:</h2>
        </div>
        <div class="add-chore-container">

            <!-- Chore name -->
            <div class="chore-name">
                <div class="chore-name-title">
                    Naam: &nbsp;
                </div>
                <div class="chore-name-input">
                    <input [(ngModel)]="choresService.newChore['name']" (change)="choresService.setGenerateNewDeadline(false)">
                </div>
            </div>

            <!-- Chore interval -->
            <div class="chore-interval">
                <div class="chore-interval-title">
                    Iedere: &nbsp;
                </div>
                <div class="chore-interval-number-input">
                    <select [(ngModel)]="choresService.newChore['recurrenceAmount']" (change)="choresService.setGenerateNewDeadline(true)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="chore-interval-input">
                    <select [(ngModel)]="choresService.newChore['recurrenceInterval']" (change)="choresService.setGenerateNewDeadline(true)">
                        <option value="day">{{choresService.newChore['recurrenceAmount'] > 1 ? 'dagen' : 'dag'}}</option>
                        <option value="week">{{choresService.newChore['recurrenceAmount'] > 1 ? 'weken' : 'week'}}</option>
                        <option value="month">{{choresService.newChore['recurrenceAmount'] > 1 ? 'maanden' : 'maand'}}</option>
                        <option value="year">jaar</option>
                    </select>
                </div>
            </div>
            
        </div>
        <div class="submit-button" *ngIf="!editChore; else updateChore">
            <button (click)="choresService.addChoresItem(); closePopup($event.target)">Toevoegen</button>
        </div>
        <ng-template #updateChore id="updateChore">
            <button (click)="choresService.updateChoresItem(null, null, editChoreIndex); closePopup($event.target)">Bijwerken</button>
        </ng-template>
    </div>
</popup>