.body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@mainGreen:         #6EB77E;
@mainBlue:          #9AD2CB;
@mainYellow:        #F2A335;
@mainBlueActive:    #46bdb5;
@accentRed:         #D15545;
@accentOrange:      #E3C567;
@accentPurple:      #6d4a76;

@inactiveRow:       rgb(245, 245, 245, 0.75);
@urgentColor:       @accentRed;
@comingUpColor:     @accentOrange;
@noHurryColor:      @mainGreen;
@noHurryColorLight: #7DC184;

@greyColor:         #333333;
@greyColorLight:    #6c7783;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-track:hover {
    background: rgb(230, 230, 230);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: @mainBlue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: @accentPurple;
}

.buttons-bar{
    position: absolute;
    top: -26px;
    right: 72px;

    div{
        display: inline-block;
        padding: 0 5px;

        i{
            opacity: .75;
            font-weight: 100;
        }
        i:hover{
            opacity: 1;
        }
    }
}

.button {
    border: none;
    color: white;
    font-size: 12px;
    transition: padding 800ms ease-in-out; 
    cursor: pointer;
}

.button:hover{
    opacity: 0.7;
}

.selected {
    .button{
        padding: 15px 25px;
    }
}

.content{
    position: relative;
}

.pointer{
    cursor: pointer;
}

.hide{
    display: none;
}

calcubread, chores, todo{
    position: relative;
}

i{
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.complete-item{
    background-color: @mainGreen;
    position: absolute;
    top: 9px;
    left: 9px;
    display: inline-block;
    height: 26px;
    width: 26px;
    opacity: .75;
    border-radius: 12px;
    transition: height 100ms linear, 
                width 100ms linear,
                top 100ms linear,
                left 100ms linear,
                background-color 300ms ease-out;

    i{
        font-size: 32px;
        font-weight: 100;
        top: -8px;
        left: -3px;
        position: absolute;
        opacity: 0;
        transition: opacity 300ms ease-in;
    }
}

.complete-item:hover{

    border-radius: 1;
    top: 11px;
    left: 11px;
    height: 20px;
    width: 20px;
    outline: 3px solid @noHurryColorLight;
    outline-offset: -3px;
    background-color: white;

    i{
        color: @noHurryColor;
        opacity: 1;
    }
}

popup{
    .content{
        .title{
            h2{
                margin-top: 0;
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    popup{
        height: 50%;
    }
}