@import '../../../core/default.less';

.popup-container{
    position: fixed;
    top: 20%;
    height: 65%;
    background-color: white;
    z-index: 1001;
    left: 20%;
    right: 20%;

    .button-close{
        text-align: right;
        padding: 5px 10px;
    }
}