@import '../../../core/default.less';

.popup-overlay{

    width: 100%;
    height: 210%;
    background-color: rgba(0, 0, 0, 0.6);;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2000;

    .popup-container{

        position: fixed;
        top: 20%;
        background-color: white;
        z-index: 1001;
        left: 30%;
        right: 30%;
        border: 15px solid white;
    
        .button-close{
            text-align: right;
            padding: 5px 10px;
            i{
                color: @greyColor;
            }
        }
        .button-close:hover{
            i{
                color: @greyColorLight;
            }
        }
    }
}

#todo-popup > .popup-container, #chores-popup > .popup-container{
    height: 33% !important;
}

#chores-popup > .popup-container{
    background-color: @accentOrange;
}

#todo-popup > .popup-container{
    background-color: @mainGreen;
}

#calcubread-popup > .popup-container{
    background-color: @mainBlue;
}