<div class="content">
    <div class="buttons-bar">
        <div class="cleanup pointer" (click)="todoService.cleanup()" title="Taken opschonen">
            <i>R</i>
        </div>
        <div class="add-item pointer" (click)="showPopup($event.target)" title="Nieuwe taak">
            <i>+</i>
        </div>
    </div>
    <div class="todo-list">

        <ng-container *ngFor="let item of todoService.todoList; let listIndex = index">
            <ng-container *ngIf="!item.complete">

                <div class="todo-item" title="{{item.name}}">
                    <div class="complete-item pointer" title="Check item" (click)="todoService.updateTodoItem(item.id, item.name, !item.complete, listIndex)">
                        <i></i>
                    </div>
                    
                    <div class="item-input">
                        <input 
                        [ngModel]="item.name"
                        type="text"
                        (change)="todoService.updateTodoItem(item.id, $event.target.value, false, listIndex)">
                    </div>
                </div>     

            </ng-container>
        </ng-container>

        <ng-container *ngFor="let item of todoService.todoList; let listIndex = index">
            <ng-container *ngIf="item.complete">

                <div class="todo-item completed" title="{{item.name}}">
                    <div class="complete-item pointer" title="Uncheck item" (click)="todoService.updateTodoItem(item.id, item.name, !item.complete, listIndex)">
                        <i>V</i>
                    </div>
                    
                    <div class="item-input">
                        <input 
                        [ngModel]="item.name"
                        type="text"
                        (change)="todoService.updateTodoItem(item.id, $event.target.value, false, listIndex)">
                    </div>
                </div>     

            </ng-container>

        </ng-container>
    </div>
</div>

<popup [popupName]="popupName">
    <div class="todo-popup content">
        <div class="title">
            <h2>Voeg een taak toe:</h2>
        </div>
        <div class="add-todo-container">
            <div class="add-todo-title">
                Naam: &nbsp;
            </div>
            <div class="add-todo">
                <input (change)="todoService.addTodoItem($event)">
            </div>
        </div>
    </div>
</popup>