@import '../../../core/default.less';

.header{

    background-color: black;
    height: 100%;
    display: inline-block;
    width: 100%;
    transition: background-color 1s ease-in-out;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    position: relative;

    h1::before{
        vertical-align: middle;
        color: @mainGreen;
        content: ' ~ ';
    }

    h1::after{
        vertical-align: middle;
        color: @mainGreen;
        content: ' ~ ';
    }
}

.header:hover h1{
    text-transform: uppercase;
    width: 275px;
    color: @accentOrange;
    letter-spacing: 6px;
}

#title-header.startup{
    text-transform: uppercase;
    width: 100%;
    color: @accentOrange;
    letter-spacing: 6px;
}

h1{
    cursor: pointer;
    color: @mainBlue;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: lowercase;
    width: 220px;
    transition: width 1s ease-in-out, color 2s ease-in-out, letter-spacing 1s ease-in-out;
}

.content{
    margin-bottom: 25px;
}

