@import '../../../core/default.less';

.title {
    position: sticky;
    top: 0;
	z-index: 1000;
	background-color: black;
}

.grid {
	background-color: black;
	min-width: @blockWidth;
	overflow-x: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(@blockWidth, 1fr));
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 1em;
}

.module {
	background-color: @mainBlue;
	transition: opacity 300ms linear;
}

.block-1{
	background-color: @mainGreen;
}

.block-1.active, .block-2.active, .block-3.active{
	grid-column: 1 / end;
	grid-row: 1 / 2;
}

.block-2{
	background-color: @accentOrange;
}

.block-3{
	background-color: @mainBlue;
}

.unused-block{
	opacity: .2;
	transition: opacity 1.5s ease-in-out;
}

.unused-block:hover{
  	opacity: .6;
}

.startup{
    opacity: 0;
}